@import '../variables.scss';

.stamps {
	@include center-h;
	display: grid;
	grid-template-columns: 9rem auto 9rem;

	.stamp-keyboard {
		.stamp-controls {
			@include center-h;
			height: 3rem;

			.stamp-control-button {
				@include keyboard-button;
				padding: 0.5rem 3rem 0.5rem 3rem;
				@include font-two;
				text-transform: uppercase;
			}
		}

		.stamp-set {
			grid-column: 2/3;
			@include center-h;
			flex-wrap: wrap;
			max-width: 40rem;
			margin: 0 5% 0 5%;

			.stamp {
				@include center-h;
				@include keyboard-button;

				img {
					max-height: 80%;
					max-width: 80%;
				}
			}
		}
	}

	.arrow {
		margin: 0 3rem 0 3rem;
		width: 4rem;
		filter: invert(90%) opacity(80%);
		cursor: pointer;
	}

	.arrow:hover {
		filter: invert(90%) opacity(70%) drop-shadow($white65 1px 1px 0.5rem);
	}

	.arrow.left {
		grid-column: 1/2;
		transform: rotate(90deg);
	}

	.arrow.right {
		grid-column: 3/4;
		transform: rotate(270deg);
	}
}
