@import '../variables.scss';

.stamps {
	@include center-h;
	flex-wrap: wrap;
	max-width: 40rem;
	.stamp {
		@include center-h;
		padding: 0.5rem;
		background: $white5;
		border-radius: 1rem;
		margin: 0.5rem;

		img {
			max-height: 80%;
			max-width: 80%;
		}
	}

	.stamp:hover {
		border: solid 3px $white15;
	}
}